/* page-default.css */
main {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 2rem;
}

.theory {
  background-color: #ffffff;
  border-left: 5px solid var(--primary-color);
  padding: var(--padding);
  border-radius: var(--radius);
  box-shadow: 0 2px 5px var(--shadow-color);
}

body.dark-mode .theory {
  background-color: var(--dark-code-bg);
  box-shadow: 0 2px 5px var(--dark-shadow-color);
}

.code-example {
  background-color: var(--code-bg);
  padding: var(--padding);
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
}

body.dark-mode .code-example {
  background-color: var(--dark-code-bg);
  border-color: var(--dark-border-color);
}
